{% extends "base.html" %}

<style>
    div {
        background: url('https://i.sstatic.net/LtCRM.png') center center repeat;
        background-size: 2em;
    }
</style>

{% block content %}

<div>
    <h1>WHO WANTS TO BECOME <b>MAMADO</b>?</h1>
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
    <img src="https://media1.tenor.com/m/yZWvqGRJNlAAAAAd/5x30-training.gif" alt="5x30-training.gif">
</div>

{% endblock content %}
