{% extends "base.html" %}
{% load i18n %}
{% block content %}

  <div>
    <select style="width: 300px; margin: 30px;" class="mx-auto form-select"  onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
      <option value="" selected disabled hidden>{% trans "Choose another exercise" %}</option>
      {% for ex in exercises %}
      <option value="{% url 'training:exercise_record_graph' id=ex.id %}">{{ ex.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <h1>{{ exercise }} {% trans "progress chart" %}</h1>
  </div>
  <h2>{% trans "Your PR: " %} {{ pr }} {{ units }}</h2>
  <div class="mx-auto" style="width: 85%; max-height: 70%; min-height: 500px">
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

  
  <script>
    const ctx = document.getElementById('myChart');
    {% for entry in entries%}
    console.log("{{entry.id}}")
  {% endfor %}
    var config = {
        data: {
          datasets: [
          {
            type: "line",
            label: "{{ exercise }} {{ units }}",
            data: [
              {% for entry in entries%}
                {
                  x: "{{ entry.date|date:'d-m-Y' }}",
                  y: parseFloat("{{ entry.load }}"),
                  reps: "{{ entry.repetitions }}",
                  id: "{{ entry.id }}"
                },
              {% endfor %}
            ]
          },
          {
            type: "bubble",
            label: "{{ exercise }} {{ units }}",
            data: [
              {% for entry in entries%}
                {
                  x: "{{ entry.date|date:'d-m-Y' }}",
                  y: parseFloat("{{ entry.load }}"),
                  r: "{{ entry.repetitions }}"
                },
              {% endfor %}
            ]
          },
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          onClick: (event, elements, chart) => {
            if (elements.length > 0) {
              const point = elements[0];
              const datasetIndex = point.datasetIndex;
              const index = point.index;
              const dataPoint = chart.data.datasets[datasetIndex].data[index];
              window.location.href = `/training/exercise-record/${dataPoint.id}/`;
            }
          },
          scales: {
            y: {
              beginAtZero: true
            },
            x: {
              ticks: {
                maxRotation: 90,
                minRotation: 90,
                autoSkip: true,
                maxTicksLimit: 5
              },
              type: "time",
              time: {
                parser: 'dd-MM-yyyy',
                unit: "day",
                unitStepSize: 1,
              }
            }
          }
        }
      }
    new Chart(ctx, config);
  </script>

{% endblock content %}
