{% extends "base.html" %}
{% load i18n %}

{% block content %}


<h1>🤾‍♀️ {% trans "Exercises" %} 🤾‍♀️</h1>
<a href="{% url 'training:exercise_create' %}"><button class="btn btn-dark" style="margin: 25px;">Add exercise</button></a>
<div>
    {% for entry in entries %}
    <div class="card mx-auto" style="width: 375px; margin-bottom: 25px;" >
        <div class="card-title">
            <h2><a href="{% url 'training:exercises_update' pk=entry.pk %}" style="color: #fb3f00; text-decoration: none;">🚴‍♂️🏊‍♂️ {{ entry.name }} 🤸‍♂️🏃‍♂️</a></h2>
        </div>
        {% if entry.image_url != None %}
        <img class="card-img-top" src='{{ entry.image_url }}' alt="Card image cap">
        {% endif %}

        <div class="card-text">
            {{ entry.explanation }}
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}
