{% extends "base.html" %}
{% load i18n %}

{% block content %}


<h1>📁 {% trans "Training Templates" %} 📁</h1>
<a href="{% url 'training:training_session_templates_create' %}"><button class="btn btn-dark" style="margin: 25px;">{% trans "Add template" %}</button></a>
<div>
    {% for training_template in training_templates %}
    <div class="card mx-auto" style="width: 375px; margin-bottom: 25px;" >
        <div class="card-title">
            <h2><a href="{% url 'training:training_session_templates_update' pk=training_template.pk %}" style="color: #fb3f00; text-decoration: none;">🚴‍♂️🏊‍♂️ {{ training_template.name }} 🤸‍♂️🏃‍♂️</a></h2>
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}
