{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div>
  <h1>{% trans "Weight Chart" %}</h1>
</div>
<div class="mx-auto" style="width: 95%; max-height: 50%; min-height: 500px">
  <canvas id="myChart"></canvas>
</div>
<div>
  <a href="create/"><button class="btn btn-dark">{% trans "Create new entry" %}</button></a>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@2.2.0/dist/chartjs-plugin-zoom.min.js"></script>

  
  <script>
    const ctx = document.getElementById('myChart');
    var config = {
        data: {
          datasets: [
          {
            type: "line",
            label: "KG",
            data: [
              {% for entry in entries%}
                {
                  x: "{{ entry.date|date:'d-m-Y' }}",
                  y: parseFloat("{{ entry.weight }}"),
                  id: "{{ entry.id }}"
                },
              {% endfor %}
            ]
          },
          ]
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          onClick: (event, elements, chart) => {
            if (elements.length > 0) {
              const point = elements[0];
              const datasetIndex = point.datasetIndex;
              const index = point.index;
              const dataPoint = chart.data.datasets[datasetIndex].data[index];
              window.location.href = `/training/weight/${dataPoint.id}/`;
            }
          },
          scales: {
            y: {
              beginAtZero: true
            },
            x: {
              ticks: {
                maxRotation: 90,
                minRotation: 90,
                autoSkip: true,
                maxTicksLimit: 5
              },
              type: "time",
              time: {
                parser: 'dd-mm-yyyy',
                unit: "day",
                unitStepSize: 1,
              }
            }
          },
          plugins: {
            zoom: {
              pan: {
                  enabled: true,
                  mode: 'x',        // horizontal only
                  modifierKey: null
              },
              zoom: {
                  wheel: {
                      enabled: true,
                      mode: 'x',    // horizontal zoom only
                  },
                  pinch: {
                      enabled: true,
                      mode: 'x',
                  }
              }
          }
        }
        }
      }
    new Chart(ctx, config);
  </script>

{% endblock content %}
